<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">{{ title }}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">hello world</p>
    <p>you have clicked {{ clicks }} times</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        type="button"
        (click)="countClick(numberIncrement)"
        class="btn btn-danger btn-lg px-4 gap-3"
      >
        click me
      </button>
    </div>
    <input
      type="number"
      #numberIncrement
      class="form-control mt-4"
      placeholder="0"
      aria-label="moo"
    />
  </div>
</div>
